:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
  --fluid-width: 100%;
}

.category {
  --test-color: #f99500;
  --offer-color: #a66bbe;
  --reject-color: #EF233C;
  --available-color: #43B929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: .5rem 0;
}

.hidden-field {
  display: none;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container-fluid {
  max-width: var(--fluid-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-test { background: var(--test-color) }
.category-offer { background: var(--offer-color) }
.category-reject { background: var(--reject-color) }
.category-available { background: var(--available-color)}

.py-1 { padding: 1.5rem 0}
.py-2 { padding: 2rem 0}
.py-3 { padding: 3rem 0}
.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }

.list li {
  padding: .5rem 0;
  border-bottom: 1px dotted #555;
}

.list li:last-child {
  border: none;
}

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 0.5rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light { background: var(--light-color)}
.btn-primary { background: var(--primary-color)}
.btn-secondary { background: var(--secondary-color)}

.btn-block {
  display: block;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.card {
  background: #fff;
  padding: 1rem;
}

.card-flex-item {
  display:flex; 
  justify-content:space-between;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.text-center {
  text-align: center;
}

.form-pair {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.form-wrapper,
.post-car .form-wrap #my-ads,
.user-ads .ads-area {
  background: #fff;
  padding: 2rem 1rem;
  color: #333;
}

.input-group {
  width: 100%;
  padding: 0.62rem;
  border: #ddd 1px solid;
  border-radius: 0.3125rem;
  outline: none;
}

.edit {
  color: blue;
}

.save {
  color: green;
}

.user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-header {
  background: var(--primary-color);
  padding: 0.5rem;
  color: #fff;
}

.modal-hearder h2 {
  margin: 0;
}

/* User Navbar Styling */
.user-nav .container {
  display: grid;
  grid-template-columns: 4fr 5fr 1fr;
  padding: 1rem;
  align-items: center;
}

/* Nav-bar Styling */
#main-nav,
.user-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #c72727;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo,
.user-nav .logo {
  width: 180px;
}

#main-nav ul,
.user-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a,
.user-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current,
.user-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover,
.user-nav ul li a:hover {
  background: var(--light-color);
  color: #333;
}

#main-nav .social,
.user-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: .5rem;
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
}

#showcase .car-search {
  align-items: center;
  padding: 3rem 0;
  height: auto;
}

#showcase .car-search div.form-group{
  display: flex;
  justify-content: center;
  align-content: center;
}

#showcase .car-search div.form-group button {
  width: 20rem;
  margin: auto;
} 

/* Featured Cars */
#featured-cars .articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#featured-cars .articles-container .card .f-edit{
  display:flex;
  justify-content: flex-end;
}

#featured-cars .articles-container .card .f-edit button{
  margin: 0 0.5rem;
}

#featured-cars .container .load-more {
  max-width:10rem; 
  margin: 1rem auto;
}

/* Modal: Styling*/
.viewForm{
  position:fixed;
  display:block;
  background:rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  min-height:100vh;
  z-index: 5;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft{
  0% {
      transform: translateX(-100%)

  }
  100%{
      transform:translateX(0)
  }
}

.viewForm .detail{
  margin:auto;
  width:40%;
  background: var(--light-color);
  padding:15px;
  margin-top:10rem;
}

.price-span,
.model-span,
.man-span,
.body-span,
.car-state {
  display:flex;
  align-items:center;
}

/* Modal: Flag Form */
.viewFlag .close-order,
.viewOrder .close-oder{
  text-align:right;
}

.viewFlag .close-order i,
.viewOrder .close-order i {
  color: var(--primary-color);
  cursor: pointer;
}

.order-form{
  width:40%;
  margin:auto;
  background: #fff;
  padding:15px;
  margin-top:5%;
}

.order-form span{
  position: absolute;
  top: 10px;
  right: 25px;
  color: #a6a6a6;
  font-size: 13px;
  line-height: 24px;
  display: block;
}

.order-form input{
  display: block;
  height: 45px;
  padding: 0 15px;
  color: #a6a6a6;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
  background-color: #f6f6f6;
  font-weight: 400;
  width:inherit;
}

.order-form textarea{
  display: block;
  height:150px;
  padding: 0 15px;
  color: #a6a6a6;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
  background-color: #f6f6f6;
  font-weight: 400;
  width:100%;

}

.textarea-outer{
  overflow:hidden;
}

.order-form .field-outer{
  width: 100%;
  overflow:hidden;
  position: relative;
}

.close-modal{
  position:fixed;
  background:rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-height:100vh;
  animation: 1.5s ease-out 0s 1 closeModalSlider;
  width: 100%;
}

@keyframes closeModalSlider{
  0% {
      transform: translateX(0)

  }
  100%{
      transform:translateX(-100%)
  }
}

/* Modal: One Car View */
.viewDform span p{
  padding-left: 0.5rem;
}

.car-item{
  width:30%;
  margin:auto;
  border:1px solid whitesmoke;
  box-shadow:0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
  margin-bottom:5%;
  overflow: hidden;
  }

  .car-item img{
    height:200px;
    width: 100%;
    transition: transform .9s ease-in, height .9s ease-in; 
    
}

.car-item img:hover{
  transform: scale(1.3);
}

.f-edit{
  display:flex;
  justify-content: flex-end;
}

.f-edit button{
  margin: 0 0.5rem;
}

.close-modal{
  position:fixed;
  background:rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-height:100vh;
  animation: 1.5s ease-out 0s 1 slideOff;
  width: 100%;
}

@keyframes slideOff{
  0% {
      transform: translateX(0)

  }
  100%{
      transform:translateX(-100%)
  }
}

/* Register Styling */
.register-here {
  margin: 7rem auto;
  max-width: 50rem;
  padding: 0.5rem;
} 

/* Login Styling */
.login-here {
  margin: 4rem auto;
  max-width: 30rem;
  padding: 0.5rem;
} 

.form-wrapper form #reset-password-div {
  display: flex;
  flex-direction: row-reverse;
}

.page-container aside .list li {
  margin: .9rem 0;
}

.page-container aside .list li i {
  color: var(--secondary-color);
}

.page-container .form-wrapper p a,
.form-wrapper form #reset-password-div a,
.login-here .form-wrapper p a {
  color: var(--primary-color);
}

.page-container .form-wrapper p a:hover {
  opacity: 0.8;
}

/* Post Car */
.post-car .user-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.price-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  max-width: 20rem;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:priceModal;
  animation-duration: 2s;
}

@keyframes priceModal {
  fom{opacity: 0;}
  to{opacity: 1;}
}

.price-body {
  padding: 10px 20px;
}

#closeBtn {
  color: #fff;
  float: right;
  font-size: 30px;
}

#closeBtn:hover, #closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: .5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}